out/*
.vscode/*
.qt/*
CMakeFiles/*
editor1/CMakeFiles/*
editor1/cmake_install.cmake
editor1/Makefile
cmake_install.cmake
CMakeCache.txt
Makefile
editor1app
editor1app_autogen/*
editor1/editor1_autogen/*